/**
 * Global stylesheet
 */
html, body{
	height:100%;
}
body{
    width:100%;
    background-color:#f1f1f1;
}
header,footer {
    width:100%;
}
header h1, span {
    color:#fefefe;
}
header span, select{
    margin-left:10px;
}
header > .bg-darkred .pull-right{
    margin-top:6px;
    margin-bottom:6px;
}
header > .bg-darkred a{
	color:#fefefe;
}
header > .bg-darkred a:hover{
	color:#fefefe;
	text-decoration:none;
}
header > .bg-red > .container{
    padding-top:20px;
    padding-bottom:10px;
    line-height:42px;
}
header .logo{
    white-space:nowrap;
    color:#fefefe;
    font-size:36px;
}
header .logo:hover{
    text-decoration:none;
}
/* search bar */
header .search input.form-control{
    display:inline-block;
    vertical-align:middle;
}
header .search .btn{
    width:70px;
    margin-left:-20px;
    background-color:#971213;
}
header .search .btn:hover{
    background-color:#d9534f;
}

/* Icons */
header .icons{
    text-align:right;
}
header .icons a{
    margin-left:10px;
    color:#fefefe;
    transition: color 0.3s ease;
}
header .icons a:hover{
    color:#971213;
}

.main-container{
	min-height:100%;
	height:auto !important;
	height:100%;
	margin-bottom:-30px;
}
footer,.push{
	height:30px;
}
footer{
    padding:8px 0;
    font-size:11px;
    color:#fefefe;
}

/**
 * Background colors
 */
.bg-red{
    background-color:#c32939;
}
.bg-darkred{
    background-color:#971213;
}

/**
 * NAVIGATION
 */
.book-nav{
    margin:30px 0;
    background-color:#b2b2b2;
}
.book-nav a{
    color:#fefefe;
    line-height: 32px;
    font-size: 11px;
    font-weight: bold;
}
.book-nav a:hover{
    text-decoration:none;
}
.book-nav div{
    text-align:center;
    white-space:nowrap;
    transition:background-color 0.2s ease;
}
.book-nav .active, .book-nav > div:hover{
    background-color:#c32929;
}
.book-nav div+div{
    border-left:solid 1px #fefefe;
}

/**
 * BANNER
 */
.banner > div{
    padding:0;
    color:#fefefe;
    margin-top:15px;
}
.banner > div a {
    font-weight:bold;
    color:#fefefe;
    font-style:italic;
}

/**
 * CAROUSEL
 */
 .carousel{
	margin:20px 0;
 }
 .carousel > .display{
	padding-left:0;
 }
 .carousel > .list-control{
	padding-right:0;
 }
 .carousel .inner{
	overflow:hidden;
	height:360px;
 }
 .carousel .item{
	width:100%;
	height:360px;
	display:none;
 }
 .carousel .item.active{
	display:block;
 }
 .carousel img{
	width:100%;
	height:100%;
 }
 .carousel ol{
	list-style:none;
	padding:0;
 }
 .carousel ol li{
	position:relative;
	display:inline-block;
	width:100%;
	height:80px;
	cursor:pointer;
 }
 .carousel ol li+li{
	margin-top:10px;
 }
.overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.65);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; // fallback for IE
    z-index:9999;
    color:white;
}
.overlay > .arrow{
	position:absolute;
	top:50%;
	left:-10px;
	margin-top:-11px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #3e3e3e; 
}

/**
 * BOOKCASE
 */
 .bookcase h4{
	font-weight:bold;
	margin:20px 0;
 }
 .bookcase ul{
	list-style:none;
	padding:0;
 }
 .bookcase li {
	display:inline-block;
	margin:5px 10px;
 }

/**
 * FOOTER TABLE
 */
.footer-table{
    margin-top:10px;
}
.footer-table > thead:first-child > tr:first-child > th{
    border-top:solid 1px #bebebe;
    border-bottom:solid 1px #bebebe;
    font-weight:normal;
    font-size:20px;
    line-height:20px;
}
.footer-table ul{
    list-style:none;
    margin-top:10px;
    padding:0;
    font-size:11px;
}
.footer-table ul a{
    color:#606060;
}
.footer-table ul.icons{
	width:140px;
}
ul.icons li{
	display:inline-block;
	margin-right:5px;
}
ul.icons i {
	display:inline-block;
	width:30px;
	height:24px;
}
i.icon-visa{
	background:url('../images/icon-visa.png') center 100%;
}
i.icon-cod{
	background:url('../images/icon-cod.png') center 100%;
}
i.icon-amex{
	background:url('../images/icon-amex.png') center 100%;
}
i.icon-maestro{
	background:url('../images/icon-maestro.png') center 100%;
}
i.icon-master{
	background:url('../images/icon-master.png') center 100%;
}
i.icon-paypal{
	background:url('../images/icon-paypal.png') center 100%;
}