{% extends "base.html" %}
{% block content %}
<!-- BANNER -->
{% if banner is defined %}
{% include 'banner.html' %}
{% endif %}
<div class="clearfix"></div>

<!-- CAROUSEL -->
{% if carousel is defined %}
{% include 'carousel.html' %}
{% endif %}

{% if books is defined %}
<!-- BOOKCASE -->
<div class="bookcase row">
    <div class="col-sm-12">
        <h4><a href="/books">OUR BOOKS</a></h4>
        <ul>
            <li><img src="images/book_sm1.png"/></li>
            <li><img src="images/book_sm2.png"/></li>
            <li><img src="images/book_sm1.png"/></li>
            <li><img src="images/book_sm2.png"/></li>
            <li><img src="images/book_sm1.png"/></li>
            <li><img src="images/book_sm2.png"/></li>
            <li><img src="images/book_sm1.png"/></li>
            <li><img src="images/book_sm2.png"/></li>
            <li><img src="images/book_sm1.png"/></li>
        </ul>
    </div>
</div>
{% endif %}
<!-- FOOTER TABLE -->
<table class="footer-table table">
    <thead>
        <tr>
            <th>DEAL<br/> MART</th>
            <th>CUSTOMER<br/> SERVICE</th>
            <th>MEET US<br/> ON</th>
            <th>PAYMENT</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">USER AGREEMENT</a></li>
                    <li><a href="#">PRIVACY</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>

            </td>
            <td>
                <ul>
                    <li><a href="#">CUSTOMER SERVICE</a></li>
                    <li><a href="#">PRODUCT RECALLS</a></li>
                    <li><a href="#">ORDER STATUS & TRACKING</a></li>
                    <li><a href="#">SHIPPING POLICY</a></li>
                    <li><a href="#">WARRANTY</a></li>
                    <li><a href="#">TIPS & ADVICE</a></li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><a href="#">FACEBOOK</a></li>
                    <li><a href="#">TWITTER</a></li>
                    <li><a href="#">YOUTUBE</a></li>
                    <li><a href="#">GOOGLE +</a></li>
                </ul>
            </td>
            <td>
                <ul class="icons">
                    <li><i class="icon-visa"></i></li>
                    <li><i class="icon-master"></i></li>
                    <li><i class="icon-cod"></i></li>
                    <li><i class="icon-paypal"></i></li>
                    <li><i class="icon-amex"></i></li>
                    <li><i class="icon-maestro"></i></li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}
